{% extends 'learning_logs/base.html' %}

{% load static %}

{% block navbar %}
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5 ">
        <a class="navbar-brand text-dark" href="https://www.instagram.com/jackson.svieira/">Learning Logs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-dark" href="{% url 'learning_logs:index' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-dark" href="{% url 'learning_logs:topics' %}">My Posts</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-dark" href="{% url 'learning_logs:topics' %}?random=true ">Sample Post</a></li>
              {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-dark" href="{% url 'users:logout' %}">Logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-dark" href="{% url 'users:login' %}">Login</a></li>
              {% endif %}
            </ul>
        </div>
    </div>
  </nav>
{% endblock navbar %}


{% block header %}

  <div class="container d-flex justify-content-center align-items-center mt-5" style="height: 200px;">
    <div class="flex-item">
      <h2>My Posts</h2>
    </div>
  </div>

{% endblock header %}
{% block content %}

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        
        
          <form class="input-group rounded" type="post">
            <input type="search" id="text" name="search_query"class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <a href="{% url 'learning_logs:new_topic' %}">
            <button class="btn btn-dark my-5"> Add a post </button> 
          </a>
          
        {% for topic in topics %}
          <!-- Divider-->
          <hr class="my-4" />
          <!-- Post preview-->
          <div class="post-preview">
              <a href="{% url 'learning_logs:topic' topic.id %}"><h2 class="post-title">{{topic}}</h2></a>
              <p class="post-meta">
                  Posted by
                  <strong>{{topic.owner}}</strong>
                  {{topic.date_added}}
              </p>
          </div>
          {% endfor %}
      </div>
      
  </div>
</div>                
{% endblock content %}